### Groupe 1

## Importation des bibliothèques

In [105]:
##pour la visulation des données 
import seaborn as sns
import matplotlib.pyplot as plt

##pour la manupilation des données 
import pandas as pd
import numpy as np

## pour diviser les données 
from sklearn.model_selection import train_test_split


from sklearn.datasets import fetch_openml


from sklearn.preprocessing import LabelEncoder


from sklearn.feature_extraction.text import CountVectorizer


##Sequential à partir de keras.models est nécessaire pour créer et définir des modèles de réseaux de neurones séquentiels en Keras.
from keras.models import Sequential

#permet de creer des couche dense
from keras.layers import Dense


from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

## Chargement de la dataset

In [123]:
df_1 = pd.read_csv("D:\CourIPSSI\Cour_IA_IPPSI_1\datas\spam_Emails_data.csv")

df_1

       label                                               text
0       Spam  viiiiiiagraaaa\nonly for the ones that want to...
1        Ham  got ice thought look az original message ice o...
2       Spam  yo ur wom an ne eds an escapenumber in ch ma n...
3       Spam  start increasing your odds of success & live s...
4        Ham  author jra date escapenumber escapenumber esca...
...      ...                                                ...
193847   Ham  on escapenumber escapenumber escapenumber rob ...
193848  Spam  we have everything you need escapelong cialesc...
193849   Ham  hi quick question say i have a date variable i...
193850  Spam  thank you for your loan request which we recie...
193851   Ham  this is an automatically generated delivery st...

[193852 rows x 2 columns]

## Analyse des données

##### Vérifications des données manquantes

In [107]:
df_1.info()

df_1.dtypes

df_1.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193852 entries, 0 to 193851
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   label   193852 non-null  object
 1   text    193850 non-null  object
dtypes: object(2)
memory usage: 3.0+ MB

text     2
label    0
dtype: int64

In [108]:
df_1.describe()

         label         text
count   193852       193850
unique       2       193848
top        Ham  unsubscribe
freq    102160            2

## Copie du jeux de test

In [109]:
# [16:47] Berenger AKODO
 
# df_1.sample(10).to_csv('./test_data/spam_mail_test.csv', index=False)

## Traitement des données

#### Traiter les données manquantes et normalisation du dataset

In [110]:
df_1 = df_1.dropna()

df_1.isnull().sum()

df_1.shape

(193850, 2)

In [111]:
df_1.head()

  label                                               text
0  Spam  viiiiiiagraaaa\nonly for the ones that want to...
1   Ham  got ice thought look az original message ice o...
2  Spam  yo ur wom an ne eds an escapenumber in ch ma n...
3  Spam  start increasing your odds of success & live s...
4   Ham  author jra date escapenumber escapenumber esca...

In [112]:
## transformer la colonne "Label"  en numérique 

label_encoder = LabelEncoder()

# Adapter le LabelEncoder aux données de 'Label' et remplacer les valeurs par les entiers correspondants

df_1['label_encoded']= label_encoder.fit_transform(df_1['label'])

# Afficher les premières lignes pour vérifier les modifications

print(df_1[['label_encoded' , 'label']])

        label_encoded label
0                   1  Spam
1                   0   Ham
2                   1  Spam
3                   1  Spam
4                   0   Ham
...               ...   ...
193847              0   Ham
193848              1  Spam
193849              0   Ham
193850              1  Spam
193851              0   Ham

[193850 rows x 2 columns]

C:\Users\mamou\AppData\Local\Temp\ipykernel_18360\1789665145.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['label_encoded']= label_encoder.fit_transform(df_1['label'])

##### Division du dataset

In [113]:
x= df_1['text']
y=df_1['label_encoded']
x , y

(0         viiiiiiagraaaa\nonly for the ones that want to...
 1         got ice thought look az original message ice o...
 2         yo ur wom an ne eds an escapenumber in ch ma n...
 3         start increasing your odds of success & live s...
 4         author jra date escapenumber escapenumber esca...
                                 ...
 193847    on escapenumber escapenumber escapenumber rob ...
 193848    we have everything you need escapelong cialesc...
 193849    hi quick question say i have a date variable i...
 193850    thank you for your loan request which we recie...
 193851    this is an automatically generated delivery st...
 Name: text, Length: 193850, dtype: object,
 0         1
 1         0
 2         1
 3         1
 4         0
          ..
 193847    0
 193848    1
 193849    0
 193850    1
 193851    0
 Name: label_encoded, Length: 193850, dtype: int32)

## Transformer la colonne email en sequences entiers

In [114]:
# Création d'un objet Tokenizer
tokenizer = Tokenizer(num_words=1000)

# Adaptation du Tokenizer aux textes
tokenizer.fit_on_texts(x)

# Conversion des textes en séquences d'entiers
x = tokenizer.texts_to_sequences(x)

# Remplissage des séquences pour qu'elles aient toutes la même longueur
# avec des zéros à gauche si nécessaire, et une longueur maximale de 20
x = pad_sequences(x, maxlen=20)

In [115]:
## diviser

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

## Création du model

In [116]:

model = Sequential([
	Dense(80, activation='relu', input_shape=(20,)),  # Utilisez la taille des caractéristiques après la vectorisation comme forme d'entrée
    Dense(70, activation='relu'),
    Dense(60, activation='relu'),
	Dense(40, activation='relu'),
	Dense(1, activation='sigmoid')
])

d:\CourIPSSI\Cour_IA_IPPSI_1\envTp1IA\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [117]:
##compliation du model 

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

In [118]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

## Entrainement du model

In [119]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5

4847/4847 ━━━━━━━━━━━━━━━━━━━━ 12s 2ms/step - loss: 0.5275 - mean_squared_error: 0.5275
Epoch 2/5
4847/4847 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 0.5081 - mean_squared_error: 0.5081
Epoch 3/5
4847/4847 ━━━━━━━━━━━━━━━━━━━━ 12s 2ms/step - loss: 0.4823 - mean_squared_error: 0.4823
Epoch 4/5
4847/4847 ━━━━━━━━━━━━━━━━━━━━ 23s 3ms/step - loss: 0.5270 - mean_squared_error: 0.5270
Epoch 5/5
4847/4847 ━━━━━━━━━━━━━━━━━━━━ 12s 3ms/step - loss: 0.5268 - mean_squared_error: 0.5268

## Résultat de la prédiction

In [120]:
y_pred = model.predict(X_test)
y_pred

1212/1212 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]], dtype=float32)

In [121]:
# #Evaluer mon modele 

loss, mean_squared_error = model.evaluate(X_test, y_test)

# Afficher les résultats
print("Test Loss:", loss)
print("Test Accuracy:", mean_squared_error * 100, '%')

1212/1212 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 0.5215 - mean_squared_error: 0.5215
Test Loss: 0.5239441990852356
Test Accuracy: 52.3952841758728 %